@charset "UTF-8";

/**************************************
 * 관리자페이지 전체 
 **************************************/
.admin-page > html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, a, img, 
sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, input, article,
aside, canvas, details, embed, figure, figcaption, footer, 
header, hgroup, menu, nav, output, ruby, section, summary, 
time, mark, audio, video, fieldset{
  margin: 0;
  padding: 0;
  border:0;
  font-size:100%;
  vertical-align:baseline;
  outline:0;
  line-height:auto;
}

.admin-page a{
  color:inherit;
  text-decoration:none;
}
.admin-page ul, .admin-page li{
  list-style:none;
}
.clearfix:after{
  content:'';
  display:block;
  clear:both;
}

.btn-menu{
  display: inline-block;
  width: 25px;
  margin-left: 10px;
}

/* 관리자페이지 전체 */
.admin-page {
  width: 100%;
  height: 100%;
  height: 900px;
  /* background: #f1f1f1; */ /* 연한회색 */
}

/**************************************
 * 페이징바
 **************************************/
div#pageBar{
	margin-top:30px; 
	text-align:center; 
	/* background-color:rgba(0, 188, 212, 0.3); */
	padding: 5px;
}
div#pageBar span.cPage{
	color: red;
	font-weight: bold; 
	margin-right: 5px;
}
div#pageBar a{
	margin-right: 5px; 
	text-decoration: none;
}
div#pageBar a:hover {
	/* text-decoration: underline; */
	color: red;
}

/**************************************
 * 사이드메뉴 영역
 **************************************/
/* 사이드메뉴 전체 */
.side-menu-box{
  width: 20%; 
  min-width: 20%;
  height: 100%;
  background: #dddddd;
  float:left;
}

/* 사이드메뉴 맨위 텍스트부분 */
.side-menu-profile {
  padding: 25px 20px;
  background: #e51737;
  color: #fff;
  font-size: 35px;
  font-family: 'Alfa Slab One', cursive;
  cursor: pointer;
  position:relative;
  height: 45px;
}

/* Settings 텍스트 */
.side-menu-profile span {
	/* background-color: aqua; */
	position: absolute;
	top: 27px;
	left : 73px;
	display: inline-block;
}

/* 톱니바퀴 이미지 */
.side-menu-profile img {
	width: 50px;
	position: absolute;
	top: 27px;
	
	/* 영역확인용 */
	/* background-color: aqua; */
}

/* 세팅즈 a태그 hover할때 애니메이션 효과 주기 */
.side-menu-profile a:hover > img {
	/* 애니메이션 효과 */
	animation: setting_icon_anime 6s ease-in infinite;
	transform-origin: 50% 50%;
}

/* 360도 회전하는 애니메이션 효과  */
@keyframes setting_icon_anime {
    100% {
        transform: rotate(360deg);
    }
}

/* 사이드메뉴부분 */
.snb {
  height: calc(100% - 155px);
  overflow-y:scroll;
  -ms-overflow-style:none;
  scrollbar-width:none;
}

.snb::-webkit-scrollbar{
  display: none;
}
.snb > ul > li{
  position: relative;
  
  /* li 사이 경계선 색깔*/
  border-bottom: 1px solid #919191; 
}
.snb > ul > li > a{
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 15px 20px;
  box-sizing:border-box;
}

/* 사이드메뉴 펼치지 않았을때 버튼 */
.snb > ul > li > a:after{
  content:'';
  display: inline-block;
  position: absolute;
  top: 24px;
  right: 20px;
  width: 15px;
  height: 10px;
  background: url("../images/admin/side_menu_down_before.png") 0 0 no-repeat;
  background-size: contain;
}

/* 사이드메뉴 펼쳤을때 버튼 */
.snb > ul > li.on > a:after{
  background: url("../images/admin/side_menu_down_after.png") 0 0 no-repeat;
  background-size: contain;
}

/* 상위 메뉴 펼쳤을때 a태그 텍스트 */
/* .snb > ul > li.on > a{
  	color: #e51737;
} */

/* 상위 메뉴 a태그 텍스트 */
.snb > ul > li > a{
	color: #000000;
	font-weight: bold;
	font-size: 20px;
}

.snb > ul > li > ul{
  display: none;
}
.snb > ul > li.on > ul{
  display: block;
}

/* 하위 메뉴 */
.snb > ul > li > ul > li a{
  display: block;
  padding: 7px 20px;
  /* color: #8b8b8b; */
}
.snb > ul > li > ul > li:first-child{
  padding-top: 2px;
}
.snb > ul > li > ul > li:last-child{
  padding-bottom: 20px;
}



/**************************************
 * 콘텐츠 영역
 **************************************/
/* 오른쪽 콘텐츠 전체영역 */
.right-contents {
	width: 80%;
	height: 100%;
	left:270px;
	float:left;
}

/* 상단박스 영역 */
.topbox {
	height: 95px;
	border-bottom: 1px solid gray;
	/* padding: 15px 40px; */
	font-size: 28px;
	
	display:flex;
	justify-content: space-between;
}


.pagename {
	display: inline-block;
	position: relative;
	top: 11px;
	left: 20px;
}

.pagename .loginName {
	font-size: 17px;
}

/* 로그아웃 영역 */
.logoutbox {
	display: inline-block;
	font-family: 'Alfa Slab One', cursive;
	position: relative;
	cursor: pointer;
	/* margin-right: 40px; */
	
	/* 영역확인용 */
	/* background-color: aqua; */
}

/* 로그아웃 아이콘 이미지 */
.logoutbox img {
	width: 55px;
	position: relative;
	top: 13px;
	right:60px;
}
/* 로그아웃 텍스트 */
.logoutbox span {
	/* background-color: pink; */
	position: absolute;
	font-size: 14px;
	top: 43px;
	right: 2px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
}


.right-bottom-contents {
	text-align: center;
}

/**************************************
 * userList.jsp
 **************************************/
 
#tbl-user {
	border: 1px solid black;
	border-collapse: collapse;
	margin: 0 auto;
}

#tbl-user > tr, th, td {
	border: 1px solid black;
	padding: 10px;
}

#tbl-user th {
	background-color: #ffc6bf;
}
 
#tbl-user tr:hover {
	background-color: #dfdfdf;
}

/* 검색, 정렬 박스 */
.data-box {
	width: 870px;
	height: 32px;
	background-color: #ffdfaf;
	margin: 30px auto;
	padding: 10px;	
}

/* 검색 영역 */
.serarchbox {
	/* background-color: aqua; */
	display : inline-block;
	margin: 0 15px;
}

/* 정렬 영역 */
.sortbox {
	/* background-color: pink; */
	display : inline-block;
	margin: 0 15px;
}

.data-box select {
	height: 28px;
	/* border-radius: 7px; */
}

.data-box input {
	height: 24px;
	border: 1px solid black;
}

/* 검색, 정렬 버튼 */
.search-btn, .sort-btn {
	height: 30px;
	width: 70px;
	background-color: #ffb445;
	font-weight: bold;
	
}

/**************************************
 * delUserList.jsp
 **************************************/
#delUserList-container {
	margin-top: 70px;
}



/**************************************
 * adminMain.jsp
 **************************************/
 #adminmain-container {
 	margin: 70px auto;
 	background-color: lightblue;
 	font-size: 25px;
 }
 
 
 
 
 
 
 
 
 
 
 
 