@charset "UTF-8";
body{font-family: 'Noto Sans KR', sans-serif; overflow-x: hidden;padding:0;margin:0;padding-top: 20vh;}
a{text-decoration:none;}
header{position: fixed;z-index:9998;}
.mainHeader{background-color:#FBF6F0;top: 0;left: 0;font-weight: bold;justify-content: space-between;width: 100%;height: 16%;display: flex;position: fixed;z-index: 9999;}
.homepageName{padding-left:1vw;padding-top:1vw;color:green;display: flex;top: 0;width: 100%;}
.profileImg{background-color:#FBF6F0;padding: 0.1vw;border: none;z-index: 9999;position:relative;}
.profileImg a{background-color:#FBF6F0;font-size:1.2vw;}
.cartImg{background-color:#FBF6F0;padding: 0.1vw;border: none;}
.cartImg a{background-color:#FBF6F0;font-size:1.2vw;}
.settingImg{background-color:#FBF6F0;padding: 0.1vw;border: none;}
.settingImg a{background-color:#FBF6F0;font-size:1.2vw;}
.indexlogoutImg{background-color:#FBF6F0;padding: 0.1vw;border: none;}
.indexlogoutImg a{background-color:#FBF6F0;font-size:1.2vw;}
.indexlogoutImg div{background-color:#FBF6F0;font-size:1.2vw;}
.indexlogout{padding-top:1.5vw;padding-left:0.5vw;width:4vw;}
.profile{padding-top:1.5vw;padding-left:0.5vw;width:4vw;}
.cart{padding-top:1.5vw;padding-left:0.5vw;width:4vw;}
.setting{padding-top:1.5vw;padding-left:0.5vw;width:4vw;}
.logoImg{width:40%;height:40%}
.nickName{font-size:4.5vw;padding:0;margin:0;padding-top:1vh;width:20%;}

.mainNav{
	background-color:#FFAF00;padding:0px;margin:auto;display:flex;position:fixed;top:18%;left:50%;transform:translate(-50%,-50%);width:100%;height:6%;font-size:1.2vw;z-index:9996;}

.mainNav div{
		width: 100%;
		float: left;
		text-align: center;
		border-left: 1px #fff solid;
		height:100%;
		z-index:9996;
		display:flex;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
	}
.mainNav div:first-of-type{border-left:none;z-index:9996;}

.mainNav div a {
	display: block;padding:.4vw;
	text-decoration: none;
	color: #fff;
	z-index:9996;
	width:100%;
	font-family: 'Alfa Slab One', cursive;
	font-size: 26px;
}

/* 네이게이션 a태그 위치조정 */
.mainNav div a span{
	display: inline-block;
	position: relative;
	top: 4px;
}

.mainNav div:hover{background-color:#FFDC37;z-index:9996;}
.mainNav div:hover > a{z-index:9996;}
.dropdown{display: flex;justify-content: flex-end;z-index:9997;}
.buttonImgName{display: flex;font-weight: 400;font-size:1.2vw;}

/* 검색 영역 */
.search{
	display: flex;
	padding-top:4vh;
	width: 40%;
	justify-content: center;
}
.searchform{
	width:90%;
	margin-left: 80px;
}
.searchImg{width:3.5vw;vertical-align: middle;}
.btnSearch{background-color:#FBF6F0;padding: 1vw;border: none;}
.btnSearch:hover{cursor:pointer;}

/* 헤더 상품명 검색 input 태그 */
.searchinput{
	border:1px green solid;
	width: 60%;
	height: 34%;
	border-radius:5vw;
	padding-top:0.5vh;
	font-size: 17px;
	color:#777777;
	text-align: center;
}
.logofont{padding-top:0.5vw;height:5vw;}
.header-navMenu{z-index: 99999;}
.headerDropDownBtn {z-index: 99999;}
.headerDropDown {position: relative;display: inline-block;z-index: 99999;}
.headerDropDownMenu {display: none;position: fixed;min-width: 160px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);z-index: 99999;}
.headerDropDownMenu a {color: black;padding: 12px 16px;text-decoration: none;display: block;z-index: 99999;}
.headerDropDownMenu a:hover {background-color: #ddd;z-index: 99999;}
.headerDropDown:hover .headerDropDownMenu {display: block;position: fixed;z-index: 99999;}