@charset "UTF-8";

/*********************************************************
 * 소개메뉴 전체 
 ********************************************************/
#info-container {
	height: 2500px;
}

/* .info-container-box {
	margin-bottom: 50px;
}  */

/*********************************************************
 * afm 소개 박스 
 ********************************************************/
/* afm 소개 컨테이너 */
.info-container-box {
	width: 100%;
	height: 455px;
	background-color: white;
	position: relative;
	border-bottom: 1px solid black;
	text-align: center;
	padding-top: 65px;
	overflow: hidden;
	
}

/* 위아래 프로젝트명, 팀명 이미지 */
.intro-img {
	z-index: 5;
	position:relative;
}


/* afm 소개글 */
#intro-text {
	font-size: 25px;
	position:relative;
	z-index: 3;
	overflow: hidden;
}

/* 작은 채소 이미지 요소들 */
.mini-imgs {
	width: 70px;
	position: absolute;
	z-index: 1;	
	opacity: 0;
	animation: raining 3s linear; 
	
}
/*************** 애니메이션 효과 **************/
@keyframes raining {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
        transform: translateY(480px);
    }
}

/*************** 농산물 이미지 ***************/
/* 토마토 */
#mini1 {
	top: 0px;
	left: 500px;
	animation-delay: 0.2s;
}
/* 블루베리 */
#mini2 {
	top: 0px;
	left: 390px;
	animation-delay: 2.8s;
}
/* 도토리 */
#mini3 {
	top: 0px;
	left: 600px;
	animation-delay: 2.2s;
}
/* 옥수수 */
#mini4 {
	top: 0px;
	left: 120px;
	animation-delay: 1.2s;
}
/* 양상추 */
#mini5 {
	top: 0px;
	left: 320px;
}
/* 망고 */
#mini6 {
	top: 0px;
	left: 880px;
	animation-delay: 2.4s;
}
/* 딸기 */
#mini7 {
	top: 0px;
	right: 790px;
	animation-delay: 1.6s;
}
/* 당근 */
#mini8 {
	top: 0px;
	right: 520px;
	animation-delay: 0.4s;
}
/* 밤 */
#mini9 {
	top: 0px;
	right: 990px;
	animation-delay: 1.2s;
}
/* 단호박 */
#mini10 {
	top: 0px;
	right: 320px;
	animation-delay: 2.7s;
}
/* 수박 */
#mini11 {
	top: 0px;
	right: 220px;
	animation-delay: 0.8s;
}
/* 귤 */
#mini12 {
	top: 40px;
	right: 830px;
	animation-delay: 0.2s;
}
/* 복숭아 */
#mini13 {
	top: 0px;
	right: 660px;
	animation-delay: 1.4s;
}
/* 파인애플 */
#mini14 {
	top: 2px;
	right: 130px;
	animation-delay: 2.3s;
}
/* 브로콜리 */
#mini15 {
	top: 0px;
	right: 620px;
}



/*********************************************************
 * 상단 박스 
 ********************************************************/
/* 최상단 컨테이너 */
#topbox {
	width: 100%;
	height: 550px;
	background-color: #ffefbe;
	position: relative;
	border: none;
}
/* 이미지박스 */
.topbox-img {
	text-align: center;
}

/* 과일바구니 이미지 */
#img1 {
	width: 630px;
	position: relative;
	top: 2px;
	left: 130px;
}

/* 캐릭터 이미지 */
#img2 {
	width: 190px;
	position: relative;
	top: 20px;
	left: -10px;
}

/* 말풍선 이미지 */
#img3 {
	width: 550px;
	position: relative;
	top: -80px;
	left: -10px;
}


/*********************************************************
 * 중간 박스 (지도영역)
 ********************************************************/
#middlebox {
 	background-color: white;
 	border: 1px solid black;
 	width: 100%;
 	height: 650px;
 	text-align: center;
 	position: relative;
 	margin: 0 auto;
 	padding: 15px 0;
}
/* 이미지전체 묶음 */
.middlebox-img {
	text-align: center;
	margin: 0 auto;
	position: relative;
}

/* 제목 텍스트 */
#maptext {
	width: 300px;
	position: absolute;
	top: 10px;
	left: 60px;
	
	cursor: pointer;
}


/* 지도 이미지 */
#mapimg {
	width: 650px;
	position:relative;
}

#mapimg:hover {
	cursor: pointer;
}

/* 애니메이션 효과 **/
@keyframes fadein {
	from {
		opacity: 0;
	}
    to {
        opacity: 1;
    }
}

#mapimg:hover +#map-spec-gg {
	animation: fadein 1s;
}

#mapimg:hover +#map-spec-hs {
	animation: fadein 1s;
	animation-delay: 0.3s;
}
#mapimg:hover +#map-spec-hn {
	animation: fadein 1s;
	animation-delay: 0.5s;
}
#mapimg:hover +#map-spec-gd {
	animation: fadein 1s;
	animation-delay: 0.6s;
}  

#mapimg:hover +#map-spec-yn {
	animation: fadein 1s;
	animation-delay: 0.2s;
}



/* 특산물 설명 텍스트 공통 클래스 */
.mapinfo {
	width: 360px;
	opacity: 0;
}

/* 경기 특산물 텍스트 */
#map-spec-gg {
	position: absolute;
	top: 25px;
	left : 550px;
}

/* 호서 특산물 텍스트 */
#map-spec-hs {
	position: absolute;
	top: 220px;
	left : 550px;
}

/* 호남 특산물 텍스트 */
#map-spec-hn {
	position: absolute;
	top: 410px;
	left : 520px;
}

/* 관동 특산물 텍스트 */
#map-spec-gd {
	position: absolute;
	top: 55px;
	right : 470px;
}

/* 영남 특산물 텍스트 */
#map-spec-yn {
	position: absolute;
	top: 300px;
	right : 470px;
}


/*********************************************************
 * 하단 박스 
 ********************************************************/
#bottombox {
 	background-color: #dcebc9;
 	width: 100%;
 	height: 650px;
 	text-align: center;
 	position: relative;
}

.bottombox-img {
	position: relative;
	text-align: center !important;
	margin: 0 auto;
}

/* 팀명 이미지 */
#teamname {
	width: 520px;
	text-align: center !important;
	
	position: relative;
	top: 100px;
	
}

/* 프로필 이미지 */
#teamone {
	width: 1100px;
	text-align: center !important;
	position: relative;
	top: 140px;

}