@CHARSET "UTF-8";
.orderDetailListData{border-bottom: 1px dashed black;display:flex;justify-content: space-evenly;align-items: center;width:100%;}
.orderDetailListDataA{text-decoration:none;curser:pointer;}
.orderListHeaderName{border-top: 1px solid #e0e0e0;float: left;font-size: 1.5em;width:100%;border-bottom: 2px solid #888;background-color: #f4f4f4;font-weight: 500;display:flex;justify-content: space-evenly;align-items: center;width:100%;text-align:center;}
.orderListSimpleInfo{display:flex;justify-content: center;font-size:1.5em;}
.orderCheckH21{text-align: center;}
.orderCheckDiv{text-align:center;color:red;}
.orderDetailListDataA1{width:30%;}
.orderDetailListDataP2{width:15%;}
.orderDetailListDataP3{width:10%;}
.orderDetailListDataP4{width:15%;}
.orderDetailListDataP5{width:15%;}
.orderDetailListDataP6{width:15%;}

.subdiv:nth-child(1){width:30%;}
.subdiv:nth-child(2){width:15%;}
.subdiv:nth-child(3){width:10%;}
.subdiv:nth-child(4){width:15%;}
.subdiv:nth-child(5){width:15%;}
.subdiv:nth-child(6){width:15%;}

.orderCheckisEmpty{text-align: center;font-size:300px;margin:0;}
.orderCheckisEmptyh3{text-align: center;color: #FC5230;text-shadow: 1px 1px #FFCD4A, 2px 2px #284D8E;}