@charset "UTF-8";

/* 상품등록하기 페이지 전체 컨테이너 */
#boardEnrollForm-container {
	margin: 0 auto;
}

/* 상단 배너 이미지 영역 */
#banner-box {
	margin: 20px auto;
	text-align: center;
}

/* 상단 배너 이미지 */
#top-banner-img {
	width: 660px;
	height: 120px;
}

/* 글쓰기폼 div 영역 */
.productForm-div {
	margin: 0 auto;
	text-align: center;
	position: relative;
	margin-bottom: 50px;
}

/* 글쓰기 테이블 */
#tbl-product-form {
	margin: 0 auto;
}

/* 테이블전체 경계선주기 */
.productForm-div table, td, th {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 13px;
}

/* 테이블 th  */
#tbl-product-form th {
	width: 200px;
	background-color: #ececec;
}

/* 테이블 td */
#tbl-product-form td {
	width: 530px;
	height: 55px;
	padding: 0;
}

/* 상품명, 가격, 수량 input, 글내용 textarea 태그 */
#tbl-product-form td input,textarea {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding-left: 20px;
	border: 0;
}

/* 글내용 태그 */
#tbl-product-form td textarea {
	height: 98%;
	margin-top:1px;
	padding :20px;
	font-size: 20px;
}

/* 카테고리,배송비 select 태그 */
#tbl-product-form td select {
	width: 200px;
	height: 37px;
	text-align: center;
	margin-left: 20px;
}

/* 카테고리,배송비 select 태그가 있는 td */
.select-td {
	text-align: left;
}

/* 이미지첨부가 있는 td  */
.file-td {
	position: relative;
	top: 15px;
}

/* 글쓰기 버튼 */
.enroll-btn{
	width: 160px;
	height: 43px;
	
    background-color: #5d9a16;
    font-size: 20px;
    font-weight: bold;
   
}

/* 글쓰기 버튼 마우스오버시 */
.enroll-btn:hover {
    background-color: #FFDC37;
    font-weight: bold; 
}

/* 이전이미지 */
.prev-product-img img {
	width: 300px;
	height: 300px;
	border: 1px dotted black;

}

/* 이전이미지 td */
.prev-img-td {
	text-align: left;
	padding: 7px!important;
}
