@charset "UTF-8";

/*************************************************************
 * 전체 영역
 ************************************************************/

body {
	background-color: #ffda96;
}

#productView-container {
	margin: 80px auto;
	text-align: center;
	border: 1px solid gray;
	width: 1200px;
	background-color: #fff;
}

/*************************************************************
 * 상단 테이블 영역
 ************************************************************/

#prod-top-box table {
	margin: 60px auto;
	position: relative;
	text-align: left;
	border-collapse: collapse;
	vertical-align: middle;
	margin-right: 60px;
}


#prod-top-box table th, td {
	/* border: 1px solid black; */
	border-collapse: collapse;
	padding: 3px 10px;
	vertical-align: middle;
	position: relative;
}

/* 상품명칸 td */
#productName {
	width: 400px!important;
	height: 80px;
	font-size: 36px;
	font-weight: bold;
	border-bottom : 1px dotted black;
	padding-bottom: 25px;
}

.top-tags {
	width: 100px;
}

.tags-td {
	height:27px;
	line-height: 27px;
	border-bottom : 1px dotted black;
	margin-left: 30px;
}

.tags-td img {
	position: relative;
	top: 2px;
}

.tags-td span {
	position: relative;
	display: inline-block;
	top: -8px;
	margin-left: 12px;
}

/* 구매수량 태그 이미지 */
.last-tags-td img {
	position: absolute;
	top: 4px;
	left: 7px;
}

/* 구매수량 span 태그 (위치조정) */
.last-tags-td span {
	display: inline-block;
	position: absolute;
	top: 6px;
	left: 120px;
}

/* 구매수량 input 태그 (디자인) */
.last-tags-td span input {
	width: 120px;
	height: 28px;
	font-size: 17px;
}




/*************************************************************
 * 이미지 영역
 ************************************************************/
.bx-wrapper img {
    width: 450px;
    height: 450px;
}

.bx-wrapper ul {
	width: 450px!important;
	height: 450px!important;
}

.bx-wrapper {
    margin: 0;
    border: 0!important;
    box-sizing: border-box;
}

.bx-controls-direction {
	position: relative;
	z-index: 3!important;
	top: -230px;
}

.bx-pager {
	text-align: center!important;
	margin: 0 auto;
}

.bx-pager-item a {
	position: relative;
	left: 48px;
}

/*************************************************************
 * 버튼 영역
 ************************************************************/
/* 수정, 삭제 버튼 */
.sellerControlBtn {
 	width: 180px;
 	height: 40px; 
 	font-size: 20px;
	background-color: #ec5d53;
 	font-weight: bold;
}

.sellerControlBtn:hover {
	cursor: pointer;
}

/* 수정, 삭제 버튼 영역 td */
.sellerControl-td {
	text-align: center;
	margin: 0 auto;
}

#updateBtn-td {
	text-align: right;
	padding-right: 5px;
}

#deleteBtn-td {
	text-align: left;
} 

.user-btn-td {
	text-align: center;
}

.user-btn-td input {
	width: 120px;
	height: 40px;
	
	font-size: 17px;
 	background-color: #ffe60a;
 	font-weight: bold;
}

.user-btn-td input:hover {
	cursor: pointer;
}

/*************************************************************
 * 중간 productContent 영역
 ************************************************************/
#sellerCommentBox {
	padding: 20px 0;
	text-align: center;
	min-height: 330px;
}
 
#sellerCommentBox img {
	width: 120px;
}

#seller-text-box {
	padding: 40px 0;
}

/*************************************************************
 * 댓글 영역
 ************************************************************/
/* 댓글 전체 컨테이너 */
.comment-container {
	width: 850px;
	margin: 0 auto;
	padding: 20px 0;
	padding-bottom: 50px;
	
	/* 영역 확인용 */
	/* background-color: pink; */
}

/* 코멘트 태그 이미지 */
.co-tag-box img {
	width: 125px;
}

/* 댓글쓰는칸 */
#wr-content {
	width: 480px;
	height: 42px;
	padding: 10px;
}

/*댓글등록버튼*/
button#btn-insert {
	width: 130px; 
	height: 53px; 
	color:white; 
	background: #88c641; 
	position:relative; 
	font-size: 17px;
	font-weight: bold;
}

#cmt-top-tbl {
	margin: 0 auto;
	margin-bottom: 26px;
}

#cmt-top-tbl td {
	padding: 0;
}
 
/*************************************************************
 * 댓글 영역 (03.hello_mvc)
 ************************************************************/


/*댓글테이블*/
table#tbl-comment{width:580px; margin:0 auto; border-collapse:collapse;} 
table#tbl-comment tr td{border-bottom:1px solid; border-top:1px solid; padding:5px; text-align:left; line-height:120%;}
table#tbl-comment tr td:first-of-type{padding: 5px 5px 5px 50px;}
table#tbl-comment tr td:last-of-type {text-align:right; width: 100px;}
table#tbl-comment button.btn-reply{display:none;}
table#tbl-comment tr:hover {background:lightgray;}
table#tbl-comment tr:hover button.btn-reply{display:inline;}
table#tbl-comment sub.comment-writer {color:navy; font-size:14px}
table#tbl-comment sub.comment-date {color:tomato; font-size:10px}

table#tbl-comment tr.level2 {color:gray; font-size: 14px;}
table#tbl-comment tr.level2 td:first-of-type{padding-left:100px;}
table#tbl-comment tr.level2 sub.comment-writer {color:#8e8eff; font-size:14px}
table#tbl-comment tr.level2 sub.comment-date {color:#ff9c8a; font-size:10px}

/*답글관련*/
table#tbl-comment textarea{margin: 4px 0 0 0;}
table#tbl-comment button.btn-insert2{width:60px; height:23px; color:white; background:#3300ff; position:relative; top:-5px; left:10px;}

/* 삭제버튼관련 */
table#tbl-comment button.btn-delete{background:red; color:white; display:none;}
table#tbl-comment tr:hover button.btn-delete{display:inline;}

