@charset "UTF-8";
@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");


/*************************************************
 * userLogin.jsp (로그인 페이지)
 **************************************************/
/* 전체영역 */
#login-container {
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: 200px;
	padding: 30px;
	background-color: #fffacf;
}
#loginFrm table {
	/* margin: 0 545px; */
	margin: 0 auto;
}
#loginFrm input {
	margin: 7px;	
}



#loginbtn1 input {
	width: 200px;
	height:30px;
}

/* 로고 이미지 */
.logo-img {
	width: 200px;
}

.loginFrm 
/* 로그인정보 테이블 */
#loginFrm table {
	margin: 0 auto;
}

/* input 태그 */
#login-container #userId, #login-container #password {
	width: 200px;
	height: 30px;
}

/*************************************************
 * userTypeEnroll.jsp (회원가입시 회원유형 페이지)
 **************************************************/
#enrolltype-container {
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: 200px;
	padding: 30px;
}
 
#enrolltype-container .logo-img {
	margin: 60px 0;
}

#enrolltype-container a {
	margin : 20px;
}

/*************************************************
 * userEnroll.jsp (일반회원 회원가입폼)
 **************************************************/
#user-enroll-container {
	
	text-align: center;
	position: relative;
	top: 30px;
	padding: 30px;
}


#user-enroll-container .logo-img {
	margin: 60px 0;
}
 
#user-enroll-container table {
	border: 1px solid black;
	border-collapse: collapse;
	margin: 0 auto;
	width: 650px;
}
 
#user-enroll-container tr, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: left;
}
 
 
#blank {
	height: 50px;
}

 
.enrollinfo {
	width: 100%; 
	height: 80px; 
	overflow: scroll;
}


/*************************************************
 * updatePassword.jsp (일반회원 회원가입폼)
 **************************************************/
 #enroll-container updatePswBtn {
  text-align: center;
 }