@charset "UTF-8";
@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");


/*************************************************
 * userLogin.jsp (로그인 페이지)
 **************************************************/
/* 전체영역 */
#login-container {
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: 100px;
	padding: 30px;
	/* background-color: #fffacf; */
}

/* 화면 1.3배 확대 */
#login-container{ 
	zoom: 1.3; 
}

/* 로그인정보 테이블 */
#loginFrm table {
	margin: 0 auto;
	text-align: center;
	border-collapse:collapse;
	
}

#loginFrm label {
	font-size:small; 
}

/* 로그인, 회원가입 버튼 */
.login-con-btn {
	width: 210px;
	height:30px;
	background-color: #568A35;
	color:white;
	border-width: 1px;
	border-radius: 5px
}

/* 로고 이미지 */
.logo-img {
	width: 200px;
}

/* input 태그 */
#login-container #userId, #password {
	width: 200px;
	height: 30px;
	border-width: 1px;
	border-radius: 5px
}

#login-container td {
	padding: 5px;
}



/*************************************************
 * userTypeEnroll.jsp (회원가입시 회원유형 페이지)
 **************************************************/
#enrolltype-container {
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: 70px;
	padding: 30px;
	zoom: 1.2;
}

 
#enrolltype-container .logo-img {
	margin: 60px 0;
}

#enrolltype-container a {
	margin : 20px;
}

/*************************************************
 * userEnroll.jsp (일반회원 회원가입폼)
 **************************************************/
#user-enroll-container {
	text-align: center;
	position: relative;
	top: 30px;
	padding: 20px;
}



#user-enroll-container .logo-img {
	margin: 60px 0;
}
 
#userEnrollFrm {
	border: 3px solid black;
	margin: 0 auto;
	/* background-color:silver;  */
	border-radius: 20px;
	width: 750px;
}

#sellerEnrollFrm {
	border: 3px solid black;
	margin: 0 auto;
	/* background-color:silver;  */
	border-radius: 20px;
	width: 750px;
}
 
#user-enroll-container table {
	border-collapse: collapse;
	margin: 0 auto;
}
 
#user-enroll-container tr, th, td {
	border: 1px solid silver;
	border-collapse: collapse;
	text-align: left;
	border-left: none;
	border-right: none;
}
 
 
#blank{
	height: 50px;
	border-top:none;
}

 
.enrollinfo {
	width: 100%; 
	height: 120px; 
	overflow: scroll;
}

#submitbtn input {
	background-color:#568A35;
	width: 80%;	
	height:40px;
	margin: 0 80px;
	color:white;
	border-width: 1px;
	border-radius: 5px;
	font-size: medium;
	font-weight: bold;
	
}

/*************************************************
 * updatePassword.jsp (일반회원 회원가입폼)
 **************************************************/
 #enroll-container updatePswBtn {
  text-align: center;
 }
 
 
 
/*************************************************
 * userDetail.jsp (내정보보기 페이지)
 **************************************************/
#enroll-container {
 	margin: 80px auto;
 	text-align: center;
 	
	border: 3px solid black;
	
	/* background-color:silver;  */
	border-radius: 20px;
	width: 550px;

}

#enroll-container table {
 	border : 1px solid black;
 	border-collapse: collapse;
 	margin: 0 auto;
 	border-left: none;
 	border-right: none;
 	border-top: none;
 	border-bottom: none;
} 
 
#enroll-container table th,td {
  padding: 40px;
}

#enroll-container input {
	width:200px;
	height: 30px;
}



section#enroll-container input[readonly]{
	background: lightgray;
}



/*************************************************
 * OrderComplete.jsp (결제내역 페이지)  
 **************************************************/
#OrderComplete-container {
	margin: 100px auto;
	text-align: center;
}
 
#OrderComplete-container table {
	margin: 0 auto;
	text-align: center;
	border-collapse:collapse;
}

#OrderComplete-container table th {
	height: 40px;
	background-color: #ffebb5;
	text-align: center;
	padding: 15px;
}

#OrderComplete-container table td{
	text-align: center;
	padding: 15px;
}
 
#tbl-orderComplete {
	width : 80%;
	height: 70%;
}

.orderbtn {
	width : 80px;
}

#tbl-orderComplete button {
	background-color: #568A35;
	color:white;
}
/*************************************************
 * OrderComplete.jsp (구매상세내역 페이지) 
 **************************************************/
#OrderCompleteDeatil-container {
	margin: 100px auto;
	text-align: center;
}
 
#OrderCompleteDeatil-container table {
	margin: 0 auto;
	text-align: center;
	border-collapse:collapse;
}

#OrderCompleteDeatil-container th {
	height: 40px;
	background-color: #ffebb5;
	text-align: center;
	padding: 15px;
}
#OrderCompleteDeatil-container table td{
	text-align: center;
	padding: 15px;
}

#tbl-orderCompleteDetail {
	width : 80%;
	height: 70%;
}

/** 정보가 없을 경우에 **/
.orderCompleteisEmpty{
	text-align: center;
	font-size:300px;
	margin:0;
}
.orderCompleteisEmptyh3{
	text-align: center;
	color: #FC5230;
	/* text-shadow: 1px 1px #FFCD4A, 2px 2px #284D8E; */
}
/*************************************************
 * sellerProductList.jsp  
 **************************************************/
 #sellerProductList-container {
	margin: 100px auto;
	text-align: center;
}
 
#sellerProductList-container table {
	margin: 0 auto;
	text-align: center;
	border-collapse:collapse;
}

#sellerProductList-container th {
	height: 40px;
	background-color: #ffebb5;
	text-align: center;
	padding: 15px;
}
#sellerProductList-container table td{
	text-align: center;
	padding: 15px;
}

#tbl-sellerProductList {
	width : 80%;
	height: 70%;
}

/** 정보가 없을 경우에 **/
.sellProductListisEmpty{
	text-align: center;
	font-size:300px;
	margin:0;
}
.sellProductListisEmptyh3{
	text-align: center;
	color: #FC5230;
	/* text-shadow: 1px 1px #FFCD4A, 2px 2px #284D8E; */
}
/*************************************************
 * sellerOrderDetailList.jsp  
 **************************************************/
 #sellerOrderDetailList-container {
	margin: 100px auto;
	text-align: center;
}
 
#sellerOrderDetailList-container table {
	margin: 0 auto;
	text-align: center;
	border-collapse:collapse;
}

#sellerOrderDetailList-container th {
	height: 40px;
	background-color: #ffebb5;
	text-align: center;
	padding: 15px;
}
#sellerOrderDetailList-container table td{
	text-align: center;
	padding: 15px;
}

#tbl-sellerOrderDetailList {
	width : 80%;
	height: 70%;
}
