@charset "UTF-8";
@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");


/*************************************************
 * userLogin.jsp (로그인 페이지)
 **************************************************/
/* 전체영역 */
#login-container {
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: 100px;
	padding: 30px;
}

/* 화면 1.3배 확대 */
#login-container{ 
	zoom: 1.3; 
}

/* 로그인정보 테이블 */
#loginFrm table {
	margin: 0 auto;
	text-align: center;
	border-collapse:collapse;
	
}

/* 로고이미지랑 폼 사이 띄우기 */
#loginFrm {
	margin-top: 50px;
} 

#loginFrm label {
	font-size:small; 
}

/* 로그인, 회원가입 버튼 */
.login-con-btn {
	width: 210px;
	height:30px;
	background-color: #568A35;
	color:white;
	border-width: 1px;
	border-radius: 5px
}

/* 로고 이미지 */
.logo-img {
	width: 200px;
}

/* input 태그 */
#login-container #userId, #password {
	width: 200px;
	height: 30px;
	border-width: 1px;
	border-radius: 5px
}

/* input들 사이 조정 */
#login-container td {
	padding: 5px;
}

/*************************************************
 * userTypeEnroll.jsp (회원가입시 회원유형 페이지)
 **************************************************/
/* 전체 영역 */
#enrolltype-container {
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: 70px;
	padding: 30px;
	zoom: 1.2;
}

 /* 로고 이미지 */
#enrolltype-container .logo-img {
	margin: 60px 0;
}

#enrolltype-container a {
	margin : 20px;
}


/*************************************************
 * userEnroll.jsp (일반회원 회원가입폼)
 **************************************************/
/* 전체 영역 */
#user1enroll-container {
	margin: 0 auto;
	position: relative;
	
}


/* 타이틀 글자들 */
#user-enroll-container h4 {
	/* text-align: left; */
	/* padding-left: 80px; */
}

sup {
	color: red;
}
/* 로고 이미지 */
#user-enroll-container .logo-img {
	margin: 0 auto;
	position: relative;
	text-align: center;
}
 
/* 회원가입 폼 */
#userEnrollFrm {
	border: 1px solid black;
	margin: 0 auto;
	/* background-color:silver;  */
	border-radius: 20px;
	width: 750px;
}

/* 약관동의 공간 */ 
.enrollinfo {
	width: 90%; 
	height: 130px; 
	overflow: scroll;
	text-align: left;
	padding: 35px;
}

 
/* 여백 */
#blank{
	height: 50px;
	/* border-top:none; */
}

#enrollarea {
	text-align: center;
}

/* 테이블 */
#user-enroll-container tr {
	margin: 20px;
}

/* input 태그들 */
.enrollInput {
	width: 450px;
	height: 45px;
} 

.enrollIdInput {
	width: 400px;
	height: 45px;
}
.enrollmail {
	width: 140px;
	height: 45px;
}
.enrollday{
	width: 150px;
	height: 45px;
}

/* 중복검사 버튼 */
.checkInput {
	width: 70px;
	height: 35px;	
}

/* 가입하기 버튼 */
#submitbtn input {
	background-color:#568A35;
	width: 80%;	
	height:40px;
	margin: 0 80px;
	color:white;
	border-width: 1px;
	border-radius: 5px;
	font-size: medium;
	font-weight: bold;
	
}

/* 판매자 회원 회원가입 페이지 폼 */
#sellerEnrollFrm {
	border: 3px solid black;
	margin: 0 auto;
	/* background-color:silver;  */
	border-radius: 20px;
	width: 750px;
}

/*************************************************
 * updatePassword.jsp (비밀번호 수정 페이지)
 **************************************************/
 #enroll-container updatePswBtn {
  text-align: center;
 }
 
 
 
/*************************************************
 * userDetail.jsp (내정보보기 페이지)
 **************************************************/
/* 전체영역 */
#enrolldetail-container {
 	margin: 80px auto;
 	text-align: center;
	border: 2px solid black;
	border-radius: 20px;
	width: 550px;
	height: 700px;
}

/* 테이블 */
#enrolldetail-container > table {
 	border : 1px solid black;
 	border-collapse: collapse;
 	margin: 0 auto;
 	border-left: none;
 	border-right: none;
} 
 
/* 회원가입 페이지도 적용되니까 잘 보고 하기 */
#enrolldetail-container th{
	padding: 10px;
	width:800px;
}

#enrolldetail-container td{
	width:800px;
	height: 30px;	
	padding-bottom: 20px;
}

.detailbtn {
	width:100px;
	height: 30px;
	background-color: #568A35;
	border-color: white;
	color: white;
}

input#_userId, #userName, #userRole, #email, #birthday, #phone {
	width: 300px;
	height: 30px;
}

input#bankname, #banknumer {
	width:300px;
	height: 30px;
}

section#enrolldetail-container input[readonly]{
	background: lightgray;
}

/*************************************************
 * OrderComplete.jsp (결제내역 페이지)  
 **************************************************/
/* 전체영역 */
#OrderComplete-container {
	margin: 100px auto;
	text-align: center;
}
 
/* 테이블영역 */ 
#OrderComplete-container table {
	margin: 0 auto;
	text-align: center;
	border-collapse:collapse;
}

/* 표 상단 부분 */
#OrderComplete-container table th {
	height: 40px;
	background-color: #ffebb5;
	text-align: center;
	padding: 15px;
}

/* 표 내용 부분 */
#OrderComplete-container table td{
	text-align: center;
	padding: 15px;
}
 
#tbl-orderComplete {
	width : 80%;
	height: 70%;
}

/* 버튼 */
.orderbtn {
	width : 80px;
}

#tbl-orderComplete button {
	background-color: #568A35;
	color:white;
}
/*************************************************
 * OrderComplete.jsp (구매상세내역 페이지) 
 **************************************************/
#OrderCompleteDeatil-container {
	margin: 100px auto;
	text-align: center;
}
 
#OrderCompleteDeatil-container table {
	margin: 0 auto;
	text-align: center;
	border-collapse:collapse;
}

#OrderCompleteDeatil-container th {
	height: 40px;
	background-color: #ffebb5;
	text-align: center;
	padding: 15px;
}
#OrderCompleteDeatil-container table td{
	text-align: center;
	padding: 15px;
}

#tbl-orderCompleteDetail {
	width : 80%;
	height: 70%;
}

/** 정보가 없을 경우에 **/
.orderCompleteisEmpty{
	text-align: center;
	font-size:300px;
	margin:0;
}
.orderCompleteisEmptyh3{
	text-align: center;
	color: #FC5230;
	/* text-shadow: 1px 1px #FFCD4A, 2px 2px #284D8E; */
}
/*************************************************
 * sellerProductList.jsp  
 **************************************************/
 #sellerProductList-container {
	margin: 100px auto;
	text-align: center;
}
 
#sellerProductList-container table {
	margin: 0 auto;
	text-align: center;
	border-collapse:collapse;
}

#sellerProductList-container th {
	height: 40px;
	background-color: #ffebb5;
	text-align: center;
	padding: 15px;
}
#sellerProductList-container table td{
	text-align: center;
	padding: 15px;
}

#tbl-sellerProductList {
	width : 80%;
	height: 70%;
}

/** 정보가 없을 경우에 **/
.sellProductListisEmpty{
	text-align: center;
	font-size:300px;
	margin:0;
}
.sellProductListisEmptyh3{
	text-align: center;
	color: #FC5230;
	/* text-shadow: 1px 1px #FFCD4A, 2px 2px #284D8E; */
}

/*************************************************
 * sellerOrderDetailList.jsp  
 **************************************************/
 #sellerOrderDetailList-container {
	margin: 100px auto;
	text-align: center;
}
 
#sellerOrderDetailList-container table {
	margin: 0 auto;
	text-align: center;
	border-collapse:collapse;
}

#sellerOrderDetailList-container th {
	height: 40px;
	background-color: #ffebb5;
	text-align: center;
	padding: 15px;
}
#sellerOrderDetailList-container table td{
	text-align: center;
	padding: 15px;
}

#tbl-sellerOrderDetailList {
	width : 80%;
	height: 70%;
}

/*************************************************
 * userAddressList.jsp  
 **************************************************/
/* 전체영역 */
#userAddressList-container {
 	margin: 0 auto;
 	text-align: center;
}

/* 테이블 영역 */
#userAddressList-container table {
 	margin: 0 auto;
 	text-align: center;
 	border: 1px solid black;
}

#userAddressList-container th {
	background-color: #ffdfaf
}

#userAddressList-container input {
	width: 150px;
	height: 20px;
	
}

#user_post {
	background-color: #e7e7e7;
	text-align: center;
	font-weight: bold;
	border: 2px solid gray;
}

#enrollAddressBtn {
	margin: 30px auto;
	height: 35px;
}

#addressEnrollFrm table {
	 	margin: 0 auto;
 	text-align: center;
 	border: 1px solid black;
}